/*========================================== MASTER STYLESHEET ===================================================================

	Project     :	STARTUP TEMPLATES
	Version     :	1.0
	Last Change : 	23/11/2018
	Primary Use :   STARTUP TEMPLATES

=================================================================================================================================*/


/*========================================== LAYOUT ===================================================================

		1.GLOBAL STYLES
		2.COMMON STYLES	
		3.NAVIGATION		
		4.BUTTON	
		5.HEADER
		6.SERVICES
		7.TWO COLUMN
		8.ENVIRONMENT
		9.WHAT WE DO
		10.MARKET ANALYSIS
		11.PRICE TABLE
		12.SUBSCRIBE
		13.TEAM
		14.TESTIMONIAL
		15.CTA
		16.CONTACT FORM
		17.NEWS
		18.FOOTER
		19.MEDIA QUERIES

=================================================================================================================================*/


/*========================================== COLOR CODES =========================================================================

	Background         :#ffffff [white]
	Theme Color        :#3598DB [Light Blue]	
	Main Heading Color :#333333 [Dark Gray]	
	Content Color      :#666666 [Light Gray]

=================================================================================================================================*/


/*========================================== TYPOGRAPHY =========================================================================

	Heading: font-family: 'Roboto', sans-serif;
	Body:    font-family: 'Open Sans', sans-serif, Arial, Vedana, Trebuchet MS;

=================================================================================================================================*/


/*========================================== 1.GLOBAL CSS START ===========================================*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
body {
    background: #ffffff;
    color: #666666;
    font-family: 'Open Sans', sans-serif, Arial, Verdana, 'Trebuchet MS';
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.7;
    margin: 0 auto;
}

a {
    outline: none !important;
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

h1 {
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 60px;
}

h2 {
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 42px;
}

h3 {
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 36px;
}

h4 {
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 30px;
}

h5 {
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 28px;
}

h6 {
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 26px;
}

a:hover,
a {
    color: inherit;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.no-margin {
    margin-left: 0;
    margin-right: 0;
}

.no-pad {
    padding-left: 0;
    padding-right: 0;
}

.column-center {
    float: none;
    margin: 0 auto;
}

.parallax {
    background-attachment: fixed;
}


/*========================================== 1.GLOBAL CSS END ===========================================*/


/*========================================== 2.COMMON CSS START ===========================================*/

.section-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-1-bg {
    background-color: #ffffff;
}

.section-2-bg {
    background-color: #f7f7f7;
}

.heading-div-1 {
    padding-bottom: 40px;
}

.heading-bottom-space {
    margin-bottom: 5px;
}

.content-top-space {
    padding-top: 15px;
}

.content-bottom-space {
    padding-bottom: 20px;
}

.bgimage-property {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.readmore {
    color: #3598DB;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.readmore:hover {
    color: #3598DB;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.fa-long-arrow-right {
    padding-left: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.readmore:hover .fa-long-arrow-right {
    padding-left: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.readmore1 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 10px;
}

.readmore1:hover {
    color: #ffffff;
}

.content-ul {
    padding-left: 0;
    margin-bottom: 0;
}

.content-ul li {
    list-style: none;
}


/* SAFARI CLASS */

.rowsafari {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


/*========================================== 2.COMMON CSS END ===========================================*/


/*========================================== 3.NAVIGATION START ===========================================*/

.fixed-header {
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
}

.static-menu.topbar.navbar,
.slider-menu.topbar.navbar {
    padding-top: 0px !important;
}

.topbar.navbar.fixed-header {
    padding-top: 0px !important;
}

.navbar-right {
    margin-right: 0;
}

.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav.clearfix.fixed-header>li>a.active {
    color: #3598DB !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.open>a {
    background-image: none;
    box-shadow: none;
}

.navbar {
    border: none !important;
}

.navbar-brand,
.navbar-nav>li>a {
    text-shadow: none;
}

.topbar.navbar-default {
    background-image: none !important;
    border: none !important;
    box-shadow: none;
}

.topbar.navbar-expand-lg,
#top-nav.navbar-expand-lg {
    padding: 0;
}

#top-nav.navbar-default {
    background-color: #ffffff !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
    margin-bottom: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #333333;
}

.navbar-nav>li>a {
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 15px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    text-shadow: none;
}

.logo-image {
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
}

.logo-image img {
    max-width: 150px;
    height: auto;
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.navbar-inverse {
    background-image: none;
}

.navbar-inverse {
    background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #3598DB !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1.10rem;
    padding-right: 1.10rem;
}

.navbar-expand-lg>.container,
.navbar-expand-lg>.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}


/*========================================== 3.NAVIGATION END ===========================================*/


/*========================================== 4.BUTTON START ===========================================*/

.form-btn .btn-1 {
    border: 1px solid #ffffff !important;
}

.btn {
    border: 1px solid transparent;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
    padding: 10px 20px;
}

.btn.btn-1 {
    background-color: #3598DB;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.btn-1 {
    border: 1px solid transparent;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 600;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.btn.btn-2 {
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.btn-2 {
    border: 1px solid transparent;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #3598DB;
    font-weight: 600;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.btn.contact-form-submit,
.btn.subscribe-btn {
    background-color: #3598DB;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.contact-form-submit {
    margin-left: 0 !important;
}

.contact-form-submit,
.subscribe-btn {
    border: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    color: #fff;
    font-weight: 600;
    margin: 0 auto 0 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.btn.contact-form-submit:hover,
.btn.contact-form-submit:focus,
.btn.subscribe-btn:focus,
.btn.subscribe-btn:hover {
    color: #3598DB;
    background-color: #ffffff;
}

.btn.btn-1:focus,
.btn.btn-1:hover {
    color: #3598DB;
    background-color: #ffffff;
}

.btn.btn-2:focus,
.btn.btn-2:hover {
    color: #ffffff;
    background-color: #3598DB;
}

.btn-top-space {
    margin-top: 25px;
}


/*========================================== 4.BUTTON END ===========================================*/


/*========================================== 5.HEADER START ===========================================*/


/* STATIC HEADER */

.static-bg-padding {
    padding-bottom: 225px;
    padding-top: 225px;
}

.static-bgimage {
    background-image: url("../../images/static-header.jpg");
}

.static-bgimage .header-div-1 h1 {
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 45px;
    margin-bottom: 10px;
}

.static-bgimage .header-sub-title {
    color: #3598DB;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 5px;
}

.static-bgimage .header-div-1 {
    margin: 0 auto;
}

.static-bgimage .header-content {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 25px;
    margin: 0 auto 30px auto;
}

.header-btns ul {
    display: table;
    margin: 0 auto;
    padding-left: 0;
}

.header-btns li {
    display: table-cell;
}

.header-btns li:first-child {
    padding-right: 10px;
}

.header-btns li:last-child {
    padding-left: 10px;
}


/* PARALLAX HEADER */

.parallax-bg-padding {
    padding-bottom: 225px;
    padding-top: 225px;
}

.parallax-bgimage {
    background-image: url("../../images/parallax-header.jpg");
}

.parallax-bgimage .header-div-1 h1 {
    color: #f2f2f2;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 45px;
    margin-bottom: 10px;
}

.parallax-bgimage .header-sub-title {
    color: #3598DB;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 5px;
}

.parallax-bgimage .header-div-1 {
    margin: 0 auto;
}

.parallax-bgimage .header-content {
    color: #f3f3f3;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 25px;
    margin: 0 auto 30px auto;
}


/*SLIDER*/

.slider-header .owl-demo .owl-controls,
.slider-header .owl-demo .owl-dots {
    margin-top: 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}

#owl-demo1 .item,
#owl-demo .item {
    margin: 0;
}

.owl-carousel {
    position: relative;
    height: 100%;
}

.slider1-padding {
    padding-bottom: 225px;
    padding-top: 225px;
}

.slider-image1 {
    background-image: url("../../images/slider-image-1.jpg");
}

.slider-image2 {
    background-image: url("../../images/slider-image-2.jpg");
}

.slider-image3 {
    background-image: url("../../images/slider-image-3.jpg");
}

.slider-image3 .header-sub-title,
.slider-image2 .header-sub-title,
.slider-image1 .header-sub-title {
    color: #3598DB;
    margin-bottom: 5px;
}

.slider-image1 .header-div-1 h1 {
    color: #f2f2f2;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 45px;
    margin-bottom: 10px;
}

.slider-image1 .header-sub-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
}

.slider-image1 .header-div-1 .btn-1 {
    background-color: #3598DB;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.slider-image1 .header-div-1 .btn-1:focus,
.slider-image1 .header-div-1 .btn-1:hover {
    color: #3598DB;
    background-color: #ffffff;
    border-color: #3598DB;
}

.slider-image1 .header-content {
    color: #f3f3f3;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 25px;
    margin: 0 auto 30px auto;
    width: 68%;
}

.slider-image2 .header-div-1 h1 {
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 45px !important;
    margin-bottom: 10px;
}

.slider-image2 .header-sub-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
}

.slider-image2 .header-div-1 .btn-1 {
    background-color: #3598DB;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.slider-image2 .header-div-1 .btn-1:focus,
.slider-image2 .header-div-1 .btn-1:hover {
    color: #3598DB;
    background-color: #ffffff;
    border-color: #3598DB;
}

.slider-image2 {
    text-align: left;
}

.slider-image2 .header-content {
    color: #666666;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 30px;
    text-align: left;
    width: 80%;
}

.slider-image3 .header-div-1,
.slider-image3 {
    text-align: left;
}

.slider-image3 .header-div-1 h1 {
    color: #f2f2f2;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 45px;
    margin-bottom: 10px;
}

.slider-image3 .header-sub-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
}

.slider-image3 .header-content {
    color: #f3f3f3;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 25px;
    padding-bottom: 30px;
    width: 100%;
}

.slider-image3 .header-div-1 .btn-1 {
    background-color: #3598DB;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.slider-image3 .header-div-1 .btn-1:focus,
.slider-image3 .header-div-1 .btn-1:hover {
    color: #3598DB;
    background-color: #ffffff;
    border-color: #3598DB;
}

.slider-image2 .header-btns ul {
    display: table;
    margin-left: 0;
    padding-left: 0;
}

.slider-image3 .header-btns ul {
    display: table;
    margin-left: 0;
    padding-left: 0;
}


/*========================================== 5.HEADER END ===========================================*/


/*========================================== 6.SERVICES START ===========================================*/

.services-col-div {
    background-color: #f6f6f6;
    border: 1px solid transparent;
    border-radius: 0px;
    margin: 0px auto 0 auto;
    padding: 25px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.services-col {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.services-col-top {
    padding-top: 30px;
}

.services-col:hover .services-col-div {
    background-color: #ffffff;
    border: 1px solid #3598db;
    border-radius: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.service-icon {
    position: relative;
}

.service-icon:before {
    color: #f6f6f6;
    content: "\f0d7";
    font-family: fontawesome;
    font-size: 25px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 46px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.services-col:hover .service-icon:before {
    color: #3598db;
    top: 47px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/*========================================== 6.SERVICES END ===========================================*/


/*========================================== 7.TWO COLUMN START ===========================================*/

.two-col-content {
    margin-top: 0px;
}


/*========================================== 7.TWO COLUMN END ===========================================*/


/*========================================== 8.ENVIRONMENT START ===========================================*/

.features-col-div {
    border-left: 1px solid #f6f6f6;
    border-right: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    border-radius: 0px;
    margin: 0px auto 0 auto;
    padding: 25px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.features-col {
    background-color: #f6f6f6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.features-col-top {
    margin-top: 30px;
}

.features-col:hover {
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.features-col:hover .features-col-div {
    border-left: 1px solid #3598DB;
    border-right: 1px solid #3598DB;
    border-bottom: 1px solid #3598DB;
    border-radius: 0 0 0px 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.features-img {
    display: block;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.features-img img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.features-col:hover .features-img img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/*========================================== 8.ENVIRONMENT END ===========================================*/


/*========================================== 9.WHAT WE DO START ===========================================*/

.what-we-ul {
    margin-top: 15px;
}

.what-we-ul li:first-child {
    width: 40px;
}

.what-we-ul li {
    display: table-cell;
    font-weight: 600;
    letter-spacing: 1px;
    vertical-align: middle;
}


/*========================================== 9.WHAT WE DO END ===========================================*/


/*========================================== 10.MARKET ANALYSIS START ===========================================*/

.analysis-col {
    width: 80%;
    margin: 0 auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.analysis-content {
    background-color: #f9f9f9;
    border-radius: 0;
    padding: 70px 20px 25px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.analysis-col:hover .analysis-content {
    background-color: #f6f6f6;
    border-radius: 0 0px 0px 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.analysis-col:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.analysis-img {
    display: block;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.analysis-img img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.analysis-col:hover .analysis-img img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/*========================================== 10.MARKET ANALYSIS END ===========================================*/


/*========================================== 11.PRICE TABLE START ===========================================*/

.price-col {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 0px;
    padding: 30px 15px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.price-col-center {
    border: 1px solid #3598DB;
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
    padding: 30px 15px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.price-col-center:hover {
    border-radius: 10px;
    box-shadow: none;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.price-col:hover {
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.price-tag p {
    font-size: 50px;
    margin-top: 5px;
    letter-spacing: 1px;
    padding: 0px 15px;
}

.price-tag p span {
    font-size: 18px;
}

.price-tag p span:first-child {
    vertical-align: super;
}

.price-tag p span:last-child {
    vertical-align: inherit;
}

.price-col-center .price-content p span,
.price-col .price-content p span {
    font-weight: 600;
}

.price-col .price-content p {
    border-bottom: 1px dashed #eeeeee;
    letter-spacing: 1px;
    padding: 10px 15px 10px;
}

.price-col-center .price-content p {
    border-bottom: 1px dashed #3598db;
    letter-spacing: 1px;
    padding: 10px 15px 10px;
}

.light-content {
    color: #bbbbbb;
}

.price-col-center .price-content p:last-child,
.price-col .price-content p:last-child {
    border-bottom: none;
    padding: 10px 15px 0px;
}


/*========================================== 11.PRICE TABLE END ===========================================*/


/*========================================== 12.SUBSCRIBE START ===========================================*/

.subscribe-bg-padding {
    padding-bottom: 100px;
    padding-top: 100px;
}

.subscribe-bgimage {
    background-image: url("../../images/1920x900.jpg");
}

.subscribe-bgimage .subscribe-div-1 h1 {
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.subscribe-bgimage .subscribe-div-1 h1 span {
    color: #3598DB;
}

.subscribe-bgimage .subscribe-div-2 {
    margin-top: 120px !important;
}

.subscribe-div-2 .form-top {
    margin-top: 25px;
}

.subscribe-div-2 .form-top .form-control {
    height: 40px;
}

.subscribe-bgimage .subscribe-div-2,
.subscribe-bgimage .subscribe-div-1 {
    margin: 0 auto;
    text-align: center;
}

.subscribe-bgimage span {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 35px;
    margin: 0 auto 0px auto;
}

.subscribe-col {
    margin: 20px auto 10px;
    text-align: center;
    width: 65% !important;
}

.play-btns-ul {
    display: table;
    margin: 0 auto;
}

.play-btns-ul li {
    display: table-cell;
}

.play-btns-ul li:first-child {
    width: 170px;
}


/* SUBSCRIBE PARALLAX BG IMAGE */

.subscribe-parallax-bg-padding {
    padding-bottom: 200px;
    padding-top: 200px;
}

.subscribe-parallax-bgimage {
    background-image: url("../../images/1920x900x1.jpg");
}

.subscribe-parallax-bgimage .subscribe-div-1 h1 {
    color: #f2f2f2;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.subscribe-parallax-bgimage .subscribe-div-1 h1 span {
    color: #3598DB;
}

.subscribe-parallax-bgimage .subscribe-div-2 {
    margin-top: 35px !important;
}

.subscribe-div-2 .form-top {
    margin-top: 25px;
}

.subscribe-div-2 .form-top .form-control {
    height: 40px;
}

.subscribe-parallax-bgimage .subscribe-div-2,
.subscribe-parallax-bgimage .subscribe-div-1 {
    margin: 0 auto;
    text-align: center;
}

.subscribe-parallax-bgimage span {
    color: #f3f3f3;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 35px;
    margin: 0 auto 0px auto;
}


/*========================================== 12.SUBSCRIBE END ===========================================*/


/*========================================== 13.TEAM START ===========================================*/

.team-col {
    background-color: #f6f6f6;
    padding: 17px 15px;
}

.testimonial-col {
    background-color: #ffffff;
    padding: 20px 15px;
}

.team-col-div {
    position: relative;
}

.team-col-content {
    padding: 82px 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 0px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.team-col-div:hover .team-col-content {
    background-color: rgba(34, 34, 34, 0.5);
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.team-col-content p,
.team-col-content h4 {
    color: #ffffff;
}

.team-col-content .team-icon {
    margin: 0 auto;
}

.team-icon {
    margin-bottom: 0;
}

.team-icon li {
    list-style: none;
    display: inline-block;
    width: 40px;
}

.team-top-space {
    margin-top: 40px;
}

.owl-demo2 .owl-pagination {
    display: none;
}


/*========================================== 13.TEAM END ===========================================*/


/*========================================== 14.TESTIMONIAL START ===========================================*/

.testimonial-div {
    margin: 0 auto;
    width: 90%;
}

.testimonial-div p {
    color: #666666;
    margin-top: 20px;
}

.testimonial-div h5 {
    margin-top: 10px;
}

.testimonial-name span {
    color: #3598DB;
    font-size: 14px;
    font-style: italic;
    letter-spacing: 1px;
}

.quote-img {
    margin-right: 10px;
}

.owl-carousel.testimonial .owl-item img {
    width: auto;
}


/*========================================== 14.TESTIMONIAL END ===========================================*/


/*========================================== 15.CTA START ===========================================*/

.cta-bgimage {
    background-image: url("../../images/1920x700.jpg");
}

.cta-bg-padding {
    padding-bottom: 150px;
    padding-top: 150px;
}

.cta-div {
    margin: 0 auto;
    width: 100%;
}

.cta-content {
    color: #f3f3f3;
    font-family: 'open sans';
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 25px;
    margin: 10px auto 0;
    width: 70%;
}

.cta-div h2 {
    color: #f2f2f2;
    letter-spacing: 2px;
}


/*========================================== 15.CTA END ===========================================*/


/*========================================== 16.CONTACT FORM START ===========================================*/

.contact-col {
    margin: 0 auto;
    width: 70%;
}

.contact-col h2 {
    width: 100%;
}

.contact-form {
    padding-top: 40px;
}

.form-div label {
    display: none !important;
}

.form-error-top {
    margin-top: 10px;
    text-align: center;
}

.form-control::placeholder {
    color: #666666;
    opacity: 1;
}

.form-control {
    font-size: 0.8rem;
}

.form-control::-moz-placeholder {
    color: #666666;
    opacity: 1;
}

.form-div .form-message::-webkit-input-placeholder,
.form-div .form-input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #666666;
}

.form-div .form-message:-moz-placeholder,
.form-div .form-input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #666666;
    opacity: 1;
}

.form-div .form-message::-moz-placeholder,
.form-div .form-input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #666666;
    opacity: 1;
}

.form-div .form-message:-ms-input-placeholder,
.form-div .form-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #666666;
}

.form-div .form-message.error::-webkit-input-placeholder,
.form-div .form-input.error::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #ff0000;
}

.form-div .form-message.error:-moz-placeholder,
.form-div .form-input.error:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ff0000;
    opacity: 1;
}

.form-div .form-message.error::-moz-placeholder,
.form-div .form-input.error::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ff0000;
    opacity: 1;
}

.form-div .form-message.error:-ms-input-placeholder,
.form-div .form-input.error:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ff0000;
}

.place_error.errorClass::-moz-placeholder {
    color: #ff0000;
    text-transform: none;
}

.place_error.errorClass::-webkit-input-placeholder {
    color: #ff0000;
    text-transform: none;
}

.place_error.errorClass:-ms-input-placeholder {
    color: #ff0000;
    text-transform: none;
}

.form-div textarea {
    color: #666666;
    border-bottom: 1px solid #bbbbbb;
    border-top: 0px solid #bbbbbb;
    border-right: 0px solid #bbbbbb;
    border-left: 0px solid #bbbbbb;
    background-color: transparent;
    border-radius: 0px;
    font-size: 0.8rem;
    height: 40px;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 5px;
    width: 100%;
}

.form-div input {
    color: #666666;
    border-bottom: 1px solid #bbbbbb;
    border-top: 0px solid #bbbbbb;
    border-right: 0px solid #bbbbbb;
    border-left: 0px solid #bbbbbb;
    background-color: transparent;
    border-radius: 0px;
    font-size: 0.8rem;
    height: 40px;
    margin-top: 0;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 0px;
    width: 100%;
}

.form-bottom-space {
    margin-bottom: 30px;
}

.form-div {
    position: relative;
}

.form-div i {
    color: #3598DB;
    position: absolute;
    left: 0px;
    top: 10px;
}

.fa-envelope.msg-box {
    top: 8px;
    left: 15px;
}

.contact-bg {
    background-color: transparent;
    width: 100%;
}


/*========================================== 16.CONTACT FORM END ===========================================*/


/*========================================== 17.NEWS START ===========================================*/

.news-col-div {
    padding: 20px 0 0 90px;
    position: relative;
    text-align: left;
}

.news-date span {
    font-size: 24px;
    line-height: 34px;
}

.news-date {
    background-color: #ffffff;
    border: 1px solid #3598DB;
    color: #3598DB;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    left: 0;
    line-height: 24px;
    padding: 10px 15px;
    position: absolute;
    text-align: center;
    width: 75px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/*========================================== 17.NEWS END ===========================================*/


/*========================================== 18.FOOTER START ===========================================*/

.footer-bg {
    background-color: #333333;
}

.footer-bg h5 {
    color: #eeeeee;
    margin-bottom: 10px;
}

.footer-bg ul li,
.footer-bg ul li a,
.footer-bg p a,
.footer-bg p {
    color: #bbbbbb;
}

.footer-list-bk li {
    list-style: none;
    display: block;
}

.footer-list-bottom li {
    padding-bottom: 10px;
}

.footer-list-bottom li:last-child {
    padding-bottom: 0;
}

.left-pad {
    padding-left: 15px;
}

.posts-bottom {
    margin-bottom: 20px;
}

.distab {
    display: table;
}

.distab-cell-middle {
    display: table-cell;
    vertical-align: middle;
}

.distab-cell-top {
    display: table-cell;
    vertical-align: top;
}

.distab-cell {
    display: table-cell;
}

.footer-news-date {
    margin-top: 10px;
}

.footer-news-date a {
    color: #3598DB !important;
    font-size: 13px;
    letter-spacing: 1px;
}

.footer-services-li {
    position: relative;
}

.footer-dot-right {
    padding-right: 10px;
    position: absolute;
    top: 2px;
}

.footer-dot-content {
    padding-left: 20px;
}

.footer-contact-left {
    padding-left: 15px;
}

.footer-contact-bottom-1 {
    margin-bottom: 15px;
}

.footer-contact-bottom {
    margin-bottom: 25px;
}

.footer-br {
    border-bottom: 1px solid #555555;
    margin-top: 40px;
}

.footer-br-bottom {
    margin-bottom: 40px;
}

.footer-icon {
    margin-bottom: 0;
}

.footer-icon li {
    list-style: none;
    display: inline-block;
}

.footer-services p,
.footer-copyright,
.footer-contact p {
    letter-spacing: 1px;
}

.footer-left-pad li {
    padding-left: 15px;
}

.footer-left-pad,
.footer-left-pad li:first-child {
    padding-left: 0;
}

.email-success,
.sucessMessage {
    color: #33cc33;
    font-size: 13px !important;
    line-height: 23px !important;
}

.email-failure,
.failMessage {
    color: #ff0000;
    font-size: 13px !important;
    line-height: 23px !important;
}

.messageDiv {
    display: table;
    text-align: center;
    margin-top: 10px;
    width: 100%;
}


/*========================================== 18.FOOTER END ===========================================*/


/*========================================== 19.MEDIA QUERIES START ===========================================*/


/* CSS for high-resolution devices */

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx) {
    .slider-image1,
    .slider-image2,
    .slider-image3,
    .parallax-bgimage,
    .subscribe-parallax-bgimage,
    .subscribe-bgimage,
    .cta-bgimage,
    .static-bgimage {
        background-repeat: no-repeat;
    }
    .static-bgimage {
        background-image: url("../../images/static-header@2x.jpg");
    }
    .subscribe-bgimage {
        background-image: url("../../images/1920x900@2x.jpg");
    }
    .cta-bgimage {
        background-image: url("../../images/1920x700x1@2x.jpg");
    }
    .parallax-bgimage {
        background-image: url("../../images/parallax-header@2x.jpg");
    }
    .subscribe-parallax-bgimage {
        background-image: url("../../images/1920x900x1@2x.jpg");
    }
    .slider-image1 {
        background-image: url("../../images/slider-image-1@2x.jpg");
    }
    .slider-image2 {
        background-image: url("../../images/slider-image-2@2x.jpg");
    }
    .slider-image3 {
        background-image: url("../../images/slider-image-3@2x.jpg");
    }
}

@media only screen and (min-width: 250px) and (max-width: 767px) {
    .container {
        max-width: 100%;
    }
    .navbar-nav>li>a {
        font-size: 13px;
    }
    .navbar-default .navbar-toggler {
        margin-bottom: 0px;
        margin-top: 0px;
        margin-right: 0;
    }
    .navbar-toggler {
        float: right !important;
    }
    .navbar-nav>li {
        padding-left: 1.3em;
        cursor: pointer;
    }
    .navbar-nav>li:hover:before {
        color: #3598DB !important;
    }
    .navbar-nav>li:hover a {
        color: #3598DB !important;
        transition: all 1.3s;
    }
    .navbar-default .navbar-nav>li>a {
        display: inline-block;
    }
    .navbar-collapse {
        border: 0 !important;
        box-shadow: none !important;
    }
    .nav {
        display: inherit !important;
    }
    .cta-content,
    .slider-image1 .header-div-1 .header-content,
    .static-bgimage .header-div-1 h1,
    .static-bgimage .header-div-1,
    .static-bgimage .header-content {
        width: 100%;
    }
    .header-div-1 h1 {
        margin-top: 0 !important;
    }
    .navbar-nav>li {
        padding: 8px 0;
    }
    .res-analysis-top,
    .res-services-top-1 {
        margin-top: 30px !important;
    }
    .res-img-center {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .res-header-center {
        text-align: center;
    }
    .res-no-margin {
        margin-left: 0;
        margin-right: 0;
    }
    .subscribe-parallax-bgimage .subscribe-div-2 {
        margin-top: 30px !important;
    }
    .res-analysis-col {
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        width: 360px !important;
    }
}

@media only screen and (min-width: 250px) and (max-width: 991px) {
    .navbar-collapse.collapse,
    .fixed-top .navbar-collapse {
        max-height: 300px;
        overflow: auto;
    }
    .navbar-default .navbar-toggler:focus,
    .navbar-default .navbar-toggler:hover {
        background-color: #ffffff;
    }
    .navbar-nav>li {
        padding: 8px 0;
    }
    .navbar-right.nav {
        padding-bottom: 0 !important;
        position: relative;
    }
    .nav {
        float: none;
        display: table;
        padding-bottom: 10px !important;
        width: 100%;
    }
    .navbar-toggler {
        cursor: pointer;
        font-size: inherit;
        background-color: #ffffff;
        border: 1px solid #3598DB !important;
        padding: 0.5rem 0.75rem;
    }
    .navbar-header {
        position: absolute;
        right: 0;
        top: -55px;
    }
    .analysis-col,
    .contact-col,
    .slider-image3 .header-content,
    .slider-image2 .header-content,
    .slider-image1 .header-content {
        width: 100%;
    }
    .res-top {
        margin-top: 30px;
    }
    .two-col-content,
    .res-top20 {
        margin-top: 20px;
    }
    .contact-col {
        margin: 0 auto;
    }
    .res-center {
        text-align: center !important;
    }
    .team-top-space {
        margin-top: 0;
    }
    .subscribe-col {
        width: 85% !important;
    }
    .subscribe-btn {
        margin-left: 0;
        margin-top: 20px;
    }
    .res-services-col,
    .res-price-col {
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        width: 360px !important;
    }
    .res-services-top,
    .res-price-top {
        padding-top: 30px;
    }
    .analysis-col:hover .analysis-content {
        border-radius: 0 0 10px 10px;
    }
    .analysis-col {
        margin: 0 auto;
    }
    .analysis-content {
        padding: 20px 20px 20px 20px;
    }
}

@media only screen and (min-width: 250px) and (max-width: 680px) {
    .team-col-content {
        padding: 60px 20px;
    }
}

@media only screen and (min-width: 250px) and (max-width: 640px) {
    .team-col-content {
        padding: 50px 20px;
    }
}

@media only screen and (min-width: 250px) and (max-width: 600px) {
    .team-col-content {
        padding: 80px 20px;
    }
    .res-team-col {
        margin-left: auto;
        margin-right: auto;
        width: 360px;
    }
}

@media only screen and (min-width: 250px) and (max-width: 575px) {
    .res-top-2 {
        margin-top: 30px;
    }
    .res-footer-center {
        text-align: center !important;
    }
    .res-footer-posts-col,
    .res-footer-contact-col,
    .res-footer-services-col {
        margin: 0 auto;
    }
    .res-footer-services-col {
        width: 25%;
    }
    .res-footer-contact-col {
        width: 50%;
    }
    .res-footer-posts-col {
        width: 70%;
    }
}

@media only screen and (min-width: 250px) and (max-width: 481px) {
    .subscribe-bgimage .subscribe-div-2 h1 span {
        line-height: 20px !important;
    }
    .slider-image3 .header-div-1 h1,
    .slider-image2 .header-div-1 h1,
    .slider-image1 .header-div-1 h1,
    .subscribe-parallax-bgimage .subscribe-div-1 h1,
    .parallax-bgimage .header-div-1 h1,
    .subscribe-bgimage .subscribe-div-1 h1,
    .static-bgimage .header-div-1 h1 {
        font-size: 32px;
        line-height: 42px !important;
    }
    .slider-image3 .header-sub-title,
    .slider-image2 .header-sub-title,
    .slider-image1 .header-sub-title,
    .static-bgimage .header-sub-title,
    .parallax-bgimage .header-sub-title {
        font-size: 20px;
        line-height: 30px;
    }
    h2 {
        font-size: 28px;
        line-height: 38px;
    }
    h3 {
        font-size: 20px;
        line-height: 30px;
    }
    h4 {
        font-size: 18px;
        line-height: 28px;
    }
    h5 {
        font-size: 16px;
        line-height: 26px;
    }
    .price-tag p {
        font-size: 40px;
    }
    .readmore,
    .readmore1 {
        font-size: 13px;
    }
    .content-top-space {
        padding-top: 10px;
    }
    .section-padding {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .res-team-col,
    .res-price-col {
        margin-left: auto;
        margin-right: auto;
        width: 360px;
    }
    .slider1-padding,
    .subscribe-parallax-bg-padding,
    .parallax-bg-padding,
    .cta-bg-padding,
    .static-bg-padding {
        padding-bottom: 150px;
        padding-top: 150px;
    }
    .team-col-content {
        padding: 88px 30px;
        width: 100%;
    }
    .res-footer-services-col {
        width: 34%;
    }
    .res-footer-contact-col {
        width: 55%;
    }
    .res-footer-posts-col {
        width: 75%;
    }
}

@media only screen and (min-width: 250px) and (max-width: 400px) {
    .team-col-content {
        padding: 95px 30px;
        width: 100%;
    }
    .res-analysis-col,
    .res-team-col,
    .res-services-col,
    .res-price-col {
        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
    }
}

@media only screen and (min-width: 250px) and (max-width: 360px) {
    .slider1-padding,
    .subscribe-parallax-bg-padding,
    .parallax-bg-padding,
    .cta-bg-padding,
    .static-bg-padding {
        padding-bottom: 100px;
        padding-top: 100px;
    }
    .team-col-content {
        padding: 75px 30px;
        width: 100%;
    }
    .play-btns-ul {
        display: block;
        margin: 0 auto;
    }
    .play-btns-ul li {
        display: table;
        margin: 0 auto;
    }
    .play-btns-ul li:first-child {
        margin-bottom: 15px;
    }
    .subscribe-col {
        width: 100% !important;
    }
    .res-footer-services-col {
        width: 40%;
    }
    .res-footer-contact-col {
        width: 65%;
    }
    .res-footer-posts-col {
        width: 90%;
    }
}

@media only screen and (min-width: 250px) and (max-width: 330px) {
    .team-col-content {
        padding: 60px 30px;
        width: 100%;
    }
    .res-footer-services-col {
        width: 48%;
    }
    .res-footer-contact-col {
        width: 85%;
    }
    .res-footer-posts-col {
        width: 90%;
    }
    .header-btns ul {
        display: table;
        margin: 0 auto;
        padding-left: 0;
    }
    .header-btns li {
        display: block;
    }
    .header-btns li:first-child {
        padding-right: 0px;
    }
    .header-btns li:last-child {
        padding-left: 0px;
        padding-top: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .res-no-pad {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .nav>li>a {
        display: block;
        position: relative;
    }
    .navbar-nav {
        padding-bottom: 0;
    }
    .navbar-nav li:last-child a {
        padding-right: 0;
    }
    .collapse:not(.show) {
        display: none;
    }
    .subscribe-parallax-bgimage .subscribe-div-2 {
        margin-top: 0px !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .team-col-content {
        padding: 50px 20px;
    }
    .two-col-content {
        margin-top: 0px;
    }
    .analysis-content {
        padding: 40px 20px 25px 20px;
    }
}


/* SAFARI MENU ISSUES*/

@media only screen and (min-width: 992px) {
    /*safari Browser*/
    .valign-menu .navbar-collapse {
        float: right !important;
        display: block !important;
        line-height: 80px !important;
    }
    .valign-menu .menu {
        display: inline-block !important;
        vertical-align: middle !important;
    }
}


/*========================================== 19.MEDIA QUERIES END ===========================================*/

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #ffff29;
}